<%= simple_form_for(@student, html: { class: 'form-horizontal' }) do |f| %>
       
    <div class="row">
      <div class="small-6 columns">
        <h3><%= controller.action_name.capitalize %> Student</h3>
        <%= f.collection_select :family_id, Family.active, :id, :family_name, prompt: "Select family ..." %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :date_of_birth, as: :date, order: [:month, :day, :year], start_year: Date.today.year - 5, end_year: Date.today.year - 30 %>
        <%= f.input :rating %>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div class="small-1 columns">&nbsp;</div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of students', students_path, :class => 'button secondary radius' %>
    </div>

<% end %>