<h3><%= @location.name%> Location Details</h3><br />
<div class="small-6 columns">
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> <br><br>
  <%= @location.street_1%><br />
  <% if @location.street_2%> <%= @location.street_2 %><br /> <% end %>
  <%= @location.city %>, <%= @location.state %> <%= @location.zip %> <br><br>

<strong>Maximum Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />

  <% if can? :update, Location %>  	
  <%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %> <% end %>
</div>
<div class="small-6 columns"></div>

<div class="small-4 columns">
<strong>Map:&nbsp;&nbsp;</strong> <center>
<fieldset>
<%= image_tag @location.create_map_link %><br /><br />  </center>
</fieldset>
</div>
